/*--------- global*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

input {
  border-radius: 0px;
}

/*------------ body*/
.wrapper {
  padding: 40px 60px;
}

.title {
  font-size: 120px;
  margin: 0;
  letter-spacing: 1em;
  background-color: grey;
  color: white;
  padding: 40px 40px;
}

.intro {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}

.intro_img {
  height: 300px;
  width: 300px;
  box-shadow: 20px;
  margin: 20px;
  background-image: url(./nasa-53887.jpg);
}

.intro_txt {
  width: 75%;
  line-height: 2;
}

.intro_quote {
  display: flex;
  justify-content: flex-end;
  font-size: 60px;
  font-style: italic;
  margin: 2em 0;
}

/*-------------- form*/

.form_title {
  font-size: 90px;
  letter-spacing: 1em;
}

.form_txt {
  font-size: 30px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.select {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select_label {
  margin-right:.5em;
}

.form_button {
  align-items: center;
  width: 3em;
}
